<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="/js/main.js" defer></script>
		<title>About</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/work">Work</a>
			<a href="/gallery">Gallery</a>
		</nav>

		<main>
			<h1>Infos about ME</h1>
			<h3>I am definitely a person. Like, not a cat or anything. I swear.</h3>
			<div id="catbox">
				<button id="maybe-cat">But, what if I were a cat?</button>
				<div id="image-container">
					<img id="cat-image" src="" alt="" />
				</div>
			</div>
			<p>I guess I'd have hobbies like</p>
			<button id="cat-hobbies">Generate my hobbies!</button>
			<div id="hobbies-list"></div>
		</main>
	</body>
</html>
