<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Gallery</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/work">Work</a>
			<a href="/gallery">Gallery</a>
		</nav>
		<main>
			<h1>Gallery</h1>
			<p id="main-para-work">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod, voluptatum, quia, voluptas quas
				voluptates quibusdam accusantium voluptatibus quae quidem voluptate. Quisquam, quae quibusdam. Quisquam, quae
				quibusdam. Quisquam, quae quibusdam.
			</p>

			<div id="card-container-work">
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/cute/says/hello" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/gif" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/says/hello" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/gif" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/says/hello" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/cute/says/hello" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/gif" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/cute/says/hello" alt="cat" />
					</a>
				</div>
				<div class="card">
					<a href="https://thecatapi.com/" target="_blank">
						<img src="https://cataas.com/cat/says/hello" alt="cat" />
					</a>
				</div>
			</div>
		</main>
	</body>
</html>
