<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Home</title>
	</head>
	<body id="index">
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/work">Work</a>
			<a href="/gallery">Gallery</a>
		</nav>

		<main id="index-main">
			<h1>WELCOME, VISITOR!</h1>
			<h3>This is a crazy basic webpage created using Node.js, Express, Vanilla JavaScript, HTML and CSS!</h3>
			<p>I hope you find what you were looking for...</p>
			<p>and if not, there's always <a href="https://www.google.com/" target="_blank"> Google</a></p>
		</main>
	</body>
</html>
