<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title>Work</title>
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/work">Work</a>
			<a href="/gallery">Gallery</a>
		</nav>
		<main>
			<h1>Work</h1>
			<p id="main-para-work">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod, voluptatum, quia, voluptas quas
				voluptates quibusdam accusantium voluptatibus quae quidem voluptate. Quisquam, quae quibusdam. Quisquam, quae
				quibusdam. Quisquam, quae quibusdam.
			</p>

			<div id="card-container-work">
				<div class="card">
					<a
						href="https://img.freepik.com/premium-vector/coffee-cat-logo-design-coffee-cat-logo-template-modern-design-flat-logo-vector-illustration_668007-189.jpg?w=2000"
						target="_blank"
					>
						<img
							src="https://img.freepik.com/premium-vector/coffee-cat-logo-design-coffee-cat-logo-template-modern-design-flat-logo-vector-illustration_668007-189.jpg?w=2000"
							alt="Cat Logo"
						/>
						<h2>Coffee Cat</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod, voluptatum, quia, voluptas quas
							voluptates quibusdam accusantium voluptatibus quae quidem voluptate. Quisquam, quae quibusdam. Quisquam,
							quae quibusdam. Quisquam, quae quibusdam.
						</p>
					</a>
				</div>
				<div class="card">
					<a
						href="https://www.datocms-assets.com/14946/1661408107-logo-ironhack-blue.png?auto=format&fit=max&w=1200"
						target="_blank"
					>
						<img
							src="https://www.datocms-assets.com/14946/1661408107-logo-ironhack-blue.png?auto=format&fit=max&w=1200"
							alt="Ironhack Logo"
						/>
						<h2>Ironhack</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod, voluptatum, quia, voluptas quas
							voluptates quibusdam accusantium voluptatibus quae quidem voluptate. Quisquam, quae quibusdam. Quisquam,
							quae quibusdam. Quisquam, quae quibusdam.
						</p>
					</a>
				</div>
				<div class="card">
					<a
						href="https://cdn-icons-png.flaticon.com/512/1084/1084985.png?w=1380&t=st=1675682299~exp=1675682899~hmac=0b40c22020b1a288bc9eac955f26f281162b80ef36f1edd14d8d58bc691835fb"
						target="_blank"
					>
						<img
							src="https://cdn-icons-png.flaticon.com/512/1084/1084985.png?w=1380&t=st=1675682299~exp=1675682899~hmac=0b40c22020b1a288bc9eac955f26f281162b80ef36f1edd14d8d58bc691835fb"
							alt="Ironhack Logo"
						/>
						<h2>Gears Project</h2>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quod, voluptatum, quia, voluptas quas
							voluptates quibusdam accusantium voluptatibus quae quidem voluptate. Quisquam, quae quibusdam. Quisquam,
							quae quibusdam. Quisquam, quae quibusdam.
						</p>
					</a>
				</div>
			</div>
		</main>
	</body>
</html>
